*{
    margin: 0;
}

span{
    display: block;
}

.canva{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}
.button{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    display:  inline-block;
}
#red{
    background: red;
}
#pink{
    background: pink;
}
#yellow{
    background: yellow;
}
#blue{
    background: blue;
}